<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{% block title %}}{{% endblock %}}</title>
</head>
<body>

        <h1>Home</h1>
        {% if current_user.is_authenticated %}
        <nav>
            <select>
                <option>Objeto</option>
                <option><a href="{{url_for("/perfil")}}">Todos</a></option>
                <option><a href="{{url_for("/añadir")}}">Añadir</a></option>
            </select>
            <a href="{{url_for("/perfil")}}">Perfil</a>
            <a href="{{url_for("/logout")}}">Logout</a>
            <a href="{{url_for("/enviar_email")}}">Recuperar Contraseña</a>
        </nav>
        {% endif %}
        {% else %}
        <nav>
            <a href="{{url_for("/login")}}">Iniciar Sesión</a>
            <a href="{{url_for("/register")}}">Registrarse</a>
            <a href="{{url_for("/enviar_email")}}">Recuperar Contraseña</a>
        </nav>
        {% endelse %}

    {% block content %}

    {% endblock %}

    <p>Footer</p>
</body>
</html>