<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{% block title %}}{{% endblock %}}</title>
</head>
<body>
    <nav>
        <h1>Home</h1>
        <select name="" id="">
            <option value="">Objeto</option>
            <option value="">Todos</option>
            <option value="">Añadir</option>
        </select>
        <h2>Profile</h2>
        <h3>Logout</h3>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>